.index-notes-search {
    width: calc(100% - 20px);
}

.index-notes-prompt-modal-input {
    width: calc(100% - 20px);
}

.index-notes-metadata-template {
    width: 200px;
    height: 100px;
}

.index-notes-metadata-template-error {
    color: rgb(246, 94, 94);
}
